
<app-jug-table [childJugList]="masterJugList"></app-jug-table>

<div id="create-new-button" *ngIf="makeNewJug">
  <button class="ink-button" (click)="createJug()"><span class="fa fa-plus"></span> Add Jug</button>
</div>

<div class="brand-new-jug" *ngIf="displayNewJugForm">
  <form class="ink-form">
    <!--  -->
    <div class="control-group">
      <label for="name">Name</label>
      <div class="control">
        <input name="name">
      </div>
      <label for="brand">Brand</label>
      <div class="control">
        <input name="brand">
      </div>
      <label for="price">Price</label>
      <div class="control">
        <input name="price">
      </div>
    </div>
    <button class="ink-button" (click)="finishAddForm()"><span class="fa fa-check"></span></button>
  </form>
</div>
